<app-loading-component [isLoading]="isLoadingContact"></app-loading-component>

<mat-card>
    <mat-card-header>
            <mat-card-title class="card-title">Contact detail</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="contactForm" (ngSubmit)="save()" class="contact-form">
            <mat-form-field class="contact-input">
                <input #lastnameInput type="text" matInput placeholder="Lastname" formControlName="lastname">
                <mat-error *ngIf="lastname.hasError('required')">
                    Lastname is required.
                </mat-error>
                <mat-error *ngIf="lastname.hasError('maxlength')">
                    Lastname must be maximum 255 characters long.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="contact-input">
                <input type="text" matInput placeholder="Firstname" formControlName="firstname">
                <mat-error *ngIf="firstname.hasError('required')">
                    Firstname is required.
                </mat-error>
                <mat-error *ngIf="firstname.hasError('maxlength')">
                    Firstname must be maximum 255 characters long.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="contact-input">
                <input type="text" matInput placeholder="Phone" formControlName="phone">
                <mat-error *ngIf="phone.hasError('required')">
                    Phone is required.
                </mat-error>
                <mat-error *ngIf="phone.hasError('maxlength')">
                    Phone must be maximum 25 characters long.
                </mat-error>
                <mat-error *ngIf="phone.hasError('pattern')">
                    Phone must respect pattern +XX XX XXXXXX (last group has at least 6 digits).
                </mat-error>
            </mat-form-field>

            <div class="form-actions">
                <button mat-flat-button color="primary" type="submit" [disabled]="!contactForm.valid">Submit</button>
                <button mat-flat-button routerLink="/" >Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>